<%= form_for(@mgoal) do |f| %>
  <% if @mgoal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mgoal.errors.count, "error") %> prohibited this mgoal from being saved:</h2>

      <ul>
      <% @mgoal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :xp_value %><br />
    <%= f.text_field :xp_value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
