<h1>Listing mgoals</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Xp value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mgoals.each do |mgoal| %>
  <tr>
    <td><%= mgoal.description %></td>
    <td><%= mgoal.xp_value %></td>
    <td><%= link_to 'Show', mgoal %></td>
    <td><%= link_to 'Edit', edit_mgoal_path(mgoal) %></td>
    <td><%= link_to 'Destroy', mgoal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mgoal', new_mgoal_path %>
