<h1>Listing sgoals</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Xp value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sgoals.each do |sgoal| %>
  <tr>
    <td><%= sgoal.description %></td>
    <td><%= sgoal.xp_value %></td>
    <td><%= link_to 'Show', sgoal %></td>
    <td><%= link_to 'Edit', edit_sgoal_path(sgoal) %></td>
    <td><%= link_to 'Destroy', sgoal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sgoal', new_sgoal_path %>
